schema/feedlist.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="qrssreader.kacerpetr.cz" targetNamespace="qrssreader.kacerpetr.cz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feedlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="feed" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="enabled"/>
              <xs:element type="xs:string" name="bkgColor"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
